html,body{
	background-color: #E0E0FF;
	height: 100%;
}
.container{
	float:left;
}
.list{
	margin-left:95px;
	width: 300px; 
	height: 90px; 
}
.sidetable th{
	text-align: center;
	font-size: 15px;
}
#me{
	text-align: center;
	font-size: 20px;
}
.m_message{
	height:80px;
}
.m_epilogue{
	height:80px;
}
#nick{
	text-align: center;
	font: 30px/40px "Times New Roman",Times,serif;
}
#lay1-2{
	background: white;
	margin: 0 auto;
}
#lay2-1-1{
	height:150px;
	border-color: #FFB273;
	overflow: auto;
	margin: 0 auto;
}
#lay2-1-2{
	float:left;
	width:48%;
	height:150px;
	background-color:white;
	margin-top: -10px;
}
#lay2-1-3{
	float:right;
	width:49%;
	height:150px;
	background-color:white; 
	margin-top: -10px;

}
#lay2-1-4{
	min-width: 250px; height: 400px; margin: 0 auto;
	background-color: #E869AA;
	height:150px;
}
#lay2-2{
	height:500px;
}


#t_width_1{
	width:80%;

}
#t_width_2{
	width:20%;

}
#test td{
	text-align: center;
}
#test thead{
	font-size:18px;
	font-family:"Malgun Gothic", verdana;
}
#tab thead{
	font-size:18px;
	font-family:"Malgun Gothic", verdana;
}
.blank{
	clear:both;
}

#lay3-1{
	width: 800px;
	height:500px;
	background-color: white;
}
/*
#lay3-1-1{
	height:350px;
	background-color: #63AFD0;
}
*/
#g_check{
	width: 60px;
	text-align: center;
}
#g_image{
	width: 80px;
	text-align: center;
}
#g_contents{
	text-align: center;
}
#tab{
	width:100%;
}
#tab td{
	text-align: center;
}
#g_image{
	width:25%;
	height:32px;
}
#g_contents{
	width:60%;
}
.print_sum{
	margin-right: 20px;
	text-align: right;
	font-weight:bold ;
	font-size:20px;
}
.right{
	text-align:right;
}
#mod_btn{
	margin-left:200px;
}
#t_num{
	width:17%;
}
#t_bookname{
	width:65%;
}
#t_price{
	width:15%;
}
#s_item_list{
	background-color: white;
}
#s_item_list table{
	padding: 0;
}
#s_item_list table td{
	margin:0 auto;
	text-align: center;
}
#s_item_list table th{
	margin:0 auto;
	text-align: center;
}
.tab-content{
	height: 800px
}
#del{
	margin-right: 15px
}