.baseText{
	font:20px/100px;
	text-align:center;
	position:static;
	top#00px;
	left:900px;
}
table{outline-style:none; width:300px;  background:#FC0;}
th{outline-style:solid; outline:1px solid #FFF;}
td{outline-style:solid;	outline:1px solid #FFF;}
tr{outline-style:solid; outline:1px solid #FFF;}
body {max-width:800px; margin:0 auto; padding:0 20px; font-family:"맑은 고딕"; font-size:85%}
h1, h2{
	font:20px/100px;
	color:#33C;

}
nav a {margin:0 0 0 5px; padding:0 0 0 5px; border-left:1px solid #ddd;}
nav a:first-child {border-left:none;}
nav .select
{
  color:#006;
}



.menu{
	list-style-type:none;
}

[name="arc"]{
	color:#F90;
	position:relative;
	left:500;
}


p[lang="ko"] {margin-bottom:0.1em; text-align:justify; font-size:115%; line-height:1.8;}
#authorbio p[lang="ko"] {text-align:left; font-size:90%;}
	
.dropup-menu {
    bottom: 100%;
    top: auto;
}

.rightAlign{
	text-align:right;
}

.leftAlign{
	text-align:left;
}
.centerAlign{
	width:100%;
}

.centerUL{
	 margin:auto; width:300px;
}

#pageNav {
    float: right;
    position: relative;
    left: -50%;
}
#pageNav li {
    float: left;
    position: relative;
    left: 50%;
}
#modalSearchIput{float:left;}
#newItemSearchBtn{float:left; margin-left:10px;}
#modalSearchOption{clear:both;}
.typeahead.dropdown-menu {
z-index: 1051;
}
.hverBG:hover{
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
	background-color:#DFE7FF;
}

.dropdown-fixed {
  top: pos.top + pos.height,
  left: pos.left,
  position: fixed;
  z-index:  9999;
}

/*
#modalSearchIput{float:left;}
#autoCpost{
	float:left;
}
/*
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.nav-pills > .active > a{
  color: #ffffff;
  background-color: #85c6ff;
}
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #85c6ff;
}
*/
#portrait{
	width:20px;
	height:20px;
}


/* position the arrow downwards, pointing to the menu 

.navbar .dropup-menu:before {
    border-bottom: none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    left: 7px;
    top: 100%;
}

.navbar .dropup-menu:after {
    border-bottom: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    left: 10px;
    top: 100%;
    left: 6px;
}


.up {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000000;
    border-top: none;
} */
	
